
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >

      <div class="form-group">
        <label for="role">Izaberite kog korisnika zelite da registrujete:</label>
        <input type="radio" value="ROLE_SYSADMIN" name="role" [(ngModel)]="form.role"> Sistemski admin
        <input type="radio" value="ROLE_SUPPLIER" name="role" [(ngModel)]="form.role"> Dobavljac
        <br>
        <input type="radio" value="ROLE_DERMATOLOGIST" name="role" [(ngModel)]="form.role"> Dermatolog
      </div>

      <div class="form-group">
        <label for="firstName">Ime</label>
        <input
          type="text"
          class="form-control"
          name="firstName"
          [(ngModel)]="form.firstName"
          required
          #firstName="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required">Ime je obavezno</div>
        </div>
      </div>


      <div class="form-group">
        <label for="lastName">Prezime</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          [(ngModel)]="form.lastName"
          required
          #lastName="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && lastName.invalid">
          <div *ngIf="lastName.errors.required">Prezime je obavezno</div>
        </div>
      </div>


      <div class="form-group">
        <label for="country">Drzava</label>
        <input
          type="text"
          class="form-control"
          name="country"
          [(ngModel)]="form.country"
          required
          #country="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && country.invalid">
          <div *ngIf="country.errors.required">Drzava je obavezna</div>
        </div>
      </div>


      <div class="form-group">
        <label for="city">Grad</label>
        <input
          type="text"
          class="form-control"
          name="city"
          [(ngModel)]="form.city"
          required
          #city="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && city.invalid">
          <div *ngIf="city.errors.required">Grad je obavezan</div>
        </div>
      </div>


      <div class="form-group">
        <label for="address">Adresa</label>
        <input
          type="text"
          class="form-control"
          name="address"
          [(ngModel)]="form.address"
          required
          #address="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && address.invalid">
          <div *ngIf="address.errors.required">Adresa je obavezana</div>
        </div>
      </div>


      <div class="form-group">
        <label for="phoneNumber">Broj telefona</label>
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          [(ngModel)]="form.phoneNumber"
          #phoneNumber="ngModel"
        />
      </div>


      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="username">Korisnicko ime</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Lozinka</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="passwordConf">Ponovna lozinka</label>
        <input
          type="password"
          class="form-control"
          name="passwordConf"
          [(ngModel)]="form.passwordConf"
          required
          minlength="6"
          #passwordConf="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && passwordConf.invalid">
          <div *ngIf="passwordConf.errors.required">Password is required</div>
          <div *ngIf="passwordConf.errors.minlength">
            Password must be at least 6 characters
          </div>
          <div *ngIf="password===passwordConf"> Password & Confirm Password does not match.</div>
        </div>
      </div>


      <div class="form-group">
        <button class="btn btn-primary btn-block">Potvrdi registraciju</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
